<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم محصول</title>
    <!-- <link rel="stylesheet" href="form.css"> -->
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
</body>